.dropdown {
  position: absolute;
  width: 100%;
  border: 1px solid;
  border-radius: 2px;
}

.input {
  width: 100%;
}

.container {
  width: 150px;
  position: relative;
}

.dropdownItem {
  margin: 0px;
  text-align: center;
}

.activeIndex {
  height: 30px;
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
}

.normal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}